/*@font-face {*/
/*  font-family: 'Helvetica Neue';*/
/*  src: local('Helvetica Neue'), url('./fonts/HelveticaNeueLTStd-Md.otf') format('otf');*/
/*  font-weight: normal;*/
/*  font-style: normal;*/
/*  font-display: swap;*/
/*}*/

body {
  margin: 0;
  font-family: 'Helvetica Neue', sans-serif;
  /*font-family: 'Helvetica Neue';*/
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  /* 1rem = 10px */
  font-size: 62.5%;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
